@font-face {
  font-family: 'Archivo';
  src: url('./fonts/Archivo/Archivo-VariableFont.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

#layout {
  display: flex;
  flex-direction: column;
  .main-area {
    background-color: #c6d3fa54;

    display: flex;
    .main-content {
      margin-top: 20px;
      margin-left: 25px;
      flex: 1;
      overflow-y: hidden;
      transition: margin-left 0.3s ease;
    }
  }

  .no-sidebar {
    margin-left: 0;
  }
}
