#layout {
  display: flex;
  flex-direction: column;
  .main-area {
    background-color: #c6d3fa54;
    height: 100vh;
    display: flex;
    .main-content {
      margin-top: 70px;
      margin-left: 275px;
      flex: 1;
      overflow-y: auto;
    }
  }

  .no-sidebar {
    margin-left: 0;
  }
}
